source_up

export SAM_CLI_TELEMETRY=0
export AWS_DEFAULT_REGION=eu-west-1

IMAGEKIT_PRIVATE_KEY=default_private_key
IMAGEKIT_PUBLIC_KEY=public_cqcdB5xpVL79YSxBhEOidIYieVo=
DATABASE_URL=sqlite+aiosqlite:///./socialsimple.db

layout pipenv

export PYTHONPATH=src:app/src:$PYTHONPATH
