[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = {extras = ["all"], version = "==5.0.18"}
pytest-cov="==4.1.0"
pytest="==8.3.5"
pytest-asyncio="==1.0.0"
freezegun = "==1.2.2"
cachetools = "==5.3.1"
flake8 = "*"
black = "*"
uvicorn = "*"

[pipenv]
allow_prereleases = true

[requires]
python_full_version = "3.10.12"

[packages]
uv = "*"
